@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: 'SN Pro', sans-serif;
  --font-body: 'Lato', sans-serif;

  /* Primary Orange Shades */
  --color-primary-50: #FFF8E6;
  --color-primary-100: #FFF1CD;
  --color-primary-200: #FFEBB4;
  --color-primary-300: #FFE49B;
  --color-primary-400: #FFC938;
  --color-primary-500: #FFBB06;
  --color-primary-600: #CC9605;
  --color-primary-700: #997004;
  --color-primary-800: #664B02;
  --color-primary-900: #332501;

  /* Accent */
  --color-accent: #F97316;

  /* others */
  --color-background: #f8f8f8;
  --color-secondary: #332501;
  --color-foreground: #1A1301;
  --color-muted-text: #1A1301;
  --color-card: #ffffff;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

th, td{
@apply p-3
}

body {
@apply bg-background text-foreground tracking-wide font-normal;
}